---
title: Critical Repair in Full Gear
date: 2013-12-05 00:00 UTC
author: Terry Paquette
tags:
---


<%= partial "news_image", locals: {
        image: "news-roof.jpg",
        caption: "Removing the old shingles"
      } %>

The Saturday before Thanksgiving, Habitat partnered with volunteers from Community Life Church, Powhatan Community Church, and Epiphany Church to replace the roof, exterior doors, and fascia boards on a home in the western end of the county. The project took all day but because the Lord blessed us with enough skilled and enthusiastic volunteers, everything was accomplished. We also tore down part of the chimney that was about to fall down on its own. We are not finished at this home and will soon install new windows and replace the chimney so the owner can have heat.

<%= partial "news_image", locals: {
        image: "floor-measuring.jpg",
        caption: "Volunteers are preparing to cut a piece of subloor for installation."
      } %>

On the same day another group of volunteers from Powhatan Community Church joined Habitat board members to replace the flooring in a trailer that had rotted and was unsafe. We moved all of the furniture out of the living and bedrooms, pulled up the old carpet and subfloor, installed new sub-floor, and waited on Jimmy’s Carpet to install the new carpet. Once Jimmy’s Carpet finished the installation, volunteers put the furniture back in place. It was long, but satisfying day, as it always is when helping others.

<div class="image pull-left">
  <%= image_tag "news/trenching-pipe.jpg", class: 'img-polaroid' %>
  <div class="caption">
  </div>
</div>

The following week we hired a plumber to fix the water problems at another home in Powhatan. The owner had to turn the pump off and on at the electric panel when she wanted to get water because of leaks in the house and the line from the well. It took a couple of days and a lot of hard work and ingenuity but now the leaks are fixed and the well is working properly.

