---
title: "Habitat 101: What Does it Take to Build a Habitat Home?"
date: 2013-09-24 00:00 UTC
author: Terry Paquette
tags:
---

<div class="image pull-left">
  <%= image_tag "news/habitat101-siding.jpg", class: 'img-polaroid' %>
  <div class="caption">
    Installing siding.
  </div>
</div>

Diane Shears applied for Habitat house #8 in 2011. She was not selected but was asked to take the homeowner classes so that she might qualify for home #9. She did and was selected this time. We then showed Diane and her three children, Charles, Aliyah, and Camille three building lots. They chose the lot located at 5730 Cartersville Road.

Executive Director Terry Paquette, with the help of the construction committee, began lining up the contractors and the many volunteers needed for this build. Our goal is to build the home as inexpensively as possible so finding the right combination of expertise and materials at the right price was the key. It was also time to contact the churches from Bon Air Friends of Habitat and Powhatan, and many other civic organizations to schedule Saturday workdays.

The house was laid out in November by Woody Cofer and David Armstrong at no charge. Keith Hertzler of Earthworks dug and poured the footings and Mark Schultz and his crew laid the foundation. It was now time to bring in the Shears family to work their 200 hours of sweat equity, as well as the multitude of eager volunteers. Bon Air United Methodist folks insulated the foundation on December 1. During the following week, the Cook brothers and sons installed the girders and floor joists. St. Luke Episcopal put down the sub-floor. After volunteers Larry and Josh Elliott laid out the exterior walls, the Habitat Board and Epiphany Church built and raised them. The weather didn’t cooperate for a couple of weeks, but a group of dedicated Habitat volunteers, ‘regulars’, as we like to call them, like John Caulder and Larry Knorr, built and raised all the interior walls on January 5. The next Saturday, Redeemer Lutheran lifted up the trusses by hand and installed the roof sheathing. Next Epiphany Church installed the windows and doors. The following Saturday, on a cold and windy day, Mike LaRoach and one of his crew shingled the roof.

<div class="image pull-right">
  <%= image_tag "news/habitat101-ladders.jpg", class: 'img-polaroid' %>
  <div class="caption">
    Installing the fascia board.
  </div>
</div>

Now it was time for the professionals to do the electrical, HVAC, and plumbing rough-ins. Board member Larry Temple volunteered his time for the fifth house in a row and did the electrical. John Lohr, another generous volunteer, was our plumber, and Bobby Hathaway gave us a great price for the HVAC work. While this was going on inside, a number of groups were putting the siding on the exterior. The Venture Club, the Beaumont work release program, Congregation Or Ami, and the ‘regulars’ spent the month of February doing a fantastic job despite the cold weather. When the rough-ins were completed, and it was time to insulate the house, Bon Air UMC, and the Ventures came back to knock it out.

We have learned to outsource the sheet rock because what would take volunteers a month, can be done by professionals in a week at about the same cost. Once they finished, it was time to call in the trim crew from Manakin Episcopal. Over the next two weeks, they performed their magic accompanied by our friends from Epiphany. For interior painting and installing siding, we called in crews from Mt. Pisgah, Cedar Baptist, and St. Matthias.

By the end of April, 5730 was beginning to look like a real home. Jimmy’s Carpet, a good friend of Habitat, installed the vinyl so we could trim out the bathrooms and install the carpet. We purchased cabinets and vanities at a good price from the Hanover Habitat ReStore. Next, we installed them ourselves under the supervision of Jim Allanson. Keith Hertzler then came back to install the septic and grade the yard. Interior 2000 finished up with the interior hardware and closets.

When it was time to build the shed, the Blessed Sacrament Huguenot Honor Society stepped up. From May through June, I called on the ‘regulars’, and, like all of our volunteers, they never let us down. Folks showed up to help like John and Lisa, Joe, Nick, Tim, John, Larry, Russ, Ken, Jim, Sally, BJ, and Karen, and the list goes on. We finished up all of the little details and by early July, it was time for the Shears dedication. Our deepest gratitude to all who contributed to building the Shear’s home!

<div class="image">
  <%= image_tag "news/habitat101-trusses.jpg", class: 'img-polaroid' %>
  <div class="caption">
    Redeemer Lutheran lifted up the trusses by hand and installed the roof sheathing.
  </div>
</div>
