---
title: Rotary Club of Powhatan Donates $2,000 to Habitat Powhatan
date: 2013-07-25 00:00 UTC
author: Don Whitley
tags:
---

<div class="image">
  <%= image_tag "news/rotary.jpg", class: 'img-polaroid' %>
  <div class="caption">
    Pictured from left to right are: Rich Napier, President of the Rotary Club of Powhatan; Alec Woolfolk, Chairman of the Charity Committee; Don Whitley, President of HFHP; Mike Konvicka, HFHP Board Member; and Lummie Jones, Habitat Advisory Board Member. All are members of the Rotary Club of Powhatan.
  </div>
</div>

The Rotary Club of Powhatan presented a check for $2,000 to Habitat for Humanity - Powhatan (HFHP) at its regular meeting on July 25. This check is one of many given by the club throughout the year to worthy local and international projects.  Habitat Powhatan thanks the Rotary Club for their continued support!
