---
title: Introducing the Bailey Family
date: 2014-04-11 00:00 UTC
author: Valerie Cox
tags:
---

 <%= partial "news_image", locals: {
        image: "bailey-family.jpg",
        caption: "The Bailey Family: Nicholas, Harrison, Kathy, Peter, and Ben"
      } %>

<div class="pull-quote">
  We are not only thankful, but so excited about the thought of owning our own home!
</div>

Habitat will be partnering with the Bailey family to build a house in the Holly Hills neighborhood. The Baileys had applied once before but were not selected. However, with the help of their church, St. John Neumann, they persevered and were selected the second time around. We will be building our new four bedroom house which was designed and donated by architect David Butler. We hope to begin construction later this month.

Kathy Bailey is a single mom who has four delightful boys still living at home. She has worked full-time for five years as a recreation therapist at the Children’s Hospital of Richmond at VCU. To Kathy, her boys are a treasure and her best days are when she can spend time with them doing something fun.

Harrison, who just turned 18, is the oldest. He has recently enlisted in the Marine Corp and will be heading to boot camp sometime between August and December. Harrison has been so supportive and serves as a great role model for his younger brothers.

<div class="image pull-right">
  <%= image_tag "news/nicholas-pet.jpg", class: 'img-polaroid' %>
  <div class="caption">
    Nicholas with Squibble, his pet guinea pig.
  </div>
</div>

Peter is next in line and will be 16 in May. He is a freshman and is an excellent artist. He is also Kathy’s “fix-it” man and IT technician all in one! Peter is very helpful to his mom by keeping a close eye on his younger brothers, Ben and Nicholas.

Ben, who is 12 and a sixth grader, is the “in house” comedian. He is full of personality and is always doing random acts of kindness for his mom and brothers. Ben loves to draw and is fascinated by sharks! He also showers his mom with OXOXOX’s every day.

Nicholas is 10 years old and in fourth grade. He keeps his mom hopping with his big imagination and inquisitive mind. He loves arts and crafts, his guinea pig, “Squibble”, and playing games of all kinds. Nicholas loves to help others and his “happy-go-lucky” personality warms his mother’s heart.  The boys, who are Kathy’s life, certainly keep life busy but she wouldn’t have it any other way.

Kathy is currently renting a house and the amount is more than she can afford each month. The only way she can meet her expenses is through generous donations from family and the help she receives in so many ways from her friends and church family at St. John Neumann. Kathy feels so blessed and knows that God has and will continue to watch over her family each and every day. Kathy said, “We are not only thankful, but so excited about the thought of owning our own home!” Until now, she never thought that would be a possibility for them. For the Bailey family, it’s a dream come true.

 <%= partial "news_image", locals: {
        image: "bailey-plans.jpg",
        caption: "Terry Paquette shows the Bailey family some of the plans for their new home."
      } %>


