---
title: Valentine Gala a Huge Success
date: 2014-02-22 00:00 UTC
author: Terry Paquette
tags:
---

 <%= partial "news_image", locals: {
        image: "executive-directors.jpg", caption: "Terry Paquette, Executive Director of Habitat Powhatan and Connie Moslow, Executive Director of The Free Clinic of Powhatan"
      } %>

“Without a sense of caring, there can be no sense of community” -Anthony J. D’Angelo

For the very first time, The Powhatan Free Clinic and Habitat for Humanity - Powhatan teamed up to raise funds and community awareness for their respective organizations. The 2014 Valentine Gala was a huge success! The event was held at The Mill at Fine Creek, a beautiful venue off Route 711 in Powhatan. Owner Lisa Benusa, who has always been a big supporter of Powhatan charities, did another amazing job of hosting. Jim Wray and his band provided music and another delicious meal was served by The Mill. With an overflow crowd
of generous supporters, it was an evening to remember!

Each charity went home with $6,500. According to Terry Paquette, Executive Director of Habitat Powhatan, “We are so excited with the support of the Powhatan community. Not surprised, but excited. Our donations will pay for the well and the shingles of our next home.” The 2015 Valentine Gala has already been scheduled for Friday, February 13, 2015. Be sure to mark your calendars for this worthy and delightful event.

A big thank you to our Valentine Gala Sponsors!

<p>
  <b>CHAMPAGNE SPONSORS:</b>

  <ul>
    <li>
      Powhatan Rotary Club
    </li>
    <li>
      RC Goodwyn and Sons
    </li>
    <li>
     The Mill at Fine Creek
    </li>
  </ul>
</p>

<p>
 <b>ROSES SPONSORS:</b>
  <ul>
    <li>
      Balzer and Associates
    </li>
    <li>
      Central Virginia Bank
    </li>
    <li>
      Dr. and Mrs. Donald Sanders
    </li>
    <li>
      Powhatan Pharmacy
    </li>
    <li>
      RHB Insurance
    </li>
    <li>
     XACT Printing
    </li>
  </ul>
</p>

<p>
  <b>CHOCOLATE SPONSORS:</b>

  <ul>
    <li>
       Colony Construction
    </li>
    <li>
       New Horizon Bank
    </li>
  </ul>
</p><p>

 <%= partial "news_image", locals: {
        image: "valentine-flowers.jpg"
      } %>

