---
title: An Answer to Prayer
date: 2014-03-18 00:00 UTC
author: Terry Paquette
tags:
---

<div class="image pull-right">
  <%= image_tag "news/ruby-door.jpg", class: 'img-polaroid' %>
  <div class="caption">
    Ruby Leonard standing in her new doorway.
  </div>
</div>

Ruby Leonard, founder of the Powhatan Food Pantry, needed a new front door. Habitat volunteers had tried to repair the old one but the band aids finally wore out. Unfortunately, the door was an odd size and finding a new one that would fit perfectly would be very expensive. The first attempt was made by purchasing one at Lowes that could possibly be made to fit. However, after a couple of hours, Terry Paquette (Habitat Director) with 87 year old Ruby by his side offering her support, came to the realization that it would not work. Ruby suggested that more prayer was needed.

The next day Terry made a trip to Goodwyn Lumber to purchase a door and have it cut down to fit. While trying to explain to Bubba what was needed to make the adjustments, Glenn Morrison walked into the store. Coincidentally, Glenn had put a new roof on Ruby’s home in 2012 through Habitat’s critical repair program. He listened to our conversation and then said, “I have that door and you can have it for free. I couldn’t use it.”

We collected the $300 door and took it to Ruby’s home. We then said our prayers and God answered. The door fit perfectly and was exactly the kind she wanted! Ruby, who was thrilled with her new door, donated $50 to Habitat Powhatan. Then she said, “Now I have something for you”. As a token of her appreciation, Ruby gave the Habitat Director an album of The World’s Greatest Music, volume 18.  Does anyone have a turntable …?

