---
title: 2nd Annual Gala a Great Success
date: 2015-03-01 00:00 UTC
author: Terry Paquette
tags:
---

<b>“Without a sense of caring, there can be no sense of community” -Anthony J. D’Angelo</b>

<div class="image pull-right">
  <%= image_tag "news/terry-india.jpg", class: 'img-polaroid' %>
  <div class="caption">Terry Paquette, HFHP Exec. Director, and India Cox, <br> Free Clinic Board Member, enjoying the Gala.</div>
</div>

For the second year in a row, The Powhatan Free Clinic and Habitat for Humanity Powhatan
teamed up to raise funds and community awareness for their respective organizations. The 2015 Valentine Gala was a huge success! The event was held at The Mill at Fine Creek, a beautiful venue off Route 711 in Powhatan. Owner Lisa Benusa, who has always been a big supporter of Powhatan charities, did another amazing job of hosting. Debo Dabney and his band provided music and another delicious meal was served by The Mill. As each person left the gala, they
were treated to scrumptious chocolates made by Sue Kornegay. With an overflow crowd of
generous supporters, it was an evening to remember!

Each charity will receive about $6,300. According to Terry Paquette, Executive Director of Habitat Powhatan, “We are so excited with the support of the Powhatan community. Not surprised, but excited. Our donations will pay for the well and footing of our next home which we’ll start next month.” The 2016 Valentine Gala has already been scheduled for Friday,
February 12, 2016. Be sure to mark your calendars for this worthy and delightful event.

A big thank you to our Valentine Gala Sponsors!

  <b>CHAMPAGNE SPONSORS:</b>

  <ul>
    <li>
      St. John Neumann Catholic Church
    </li>
    <li>
      The Mill at Fine Crekk
    </li>
    <li>
      The Powhatan Lions Club
    </li>
        <li>
      Powhatan Rotary Club
    </li>
        </li>
        <li>
      Dr. and Mrs. Donald Sanders
    </li>
        </li>
        </li>
        <li>
      RC Goodwyn and Sons
    </li>
  </ul>
</p>

<p>
 <b>ROSES SPONSORS:</b>
  <ul>
    <li>
      Balzer and Associates
    </li>
    <li>
      RHB Insurance
    </li>
    <li>
      The Powhatan Today
    </li>
    <li>
      Virginia Physicians - Midlothian Family Practice
    </li>
  </ul>
</p>

<p>
  <b>CHOCOLATE SPONSORS:</b>
  <ul>
    <li>
       Lummie Jones
    </li>
    <li>
       Murry & Kuhn Dentistry
    </li>
   <li>
       New Horizon Bank
    </li>
    <li>
       Powhatan Pharmacy
    </li>
        </li>
    <li>
       XACT Printing
    </li>
  </ul>
</p>

 <%= partial "news_image", locals: {
        image: "gala-music.jpg", caption: "Debo Dabney and his band played wonderful music which the Valentine Gala revelers enjoyed and danced to all night long."
      } %>



