// $gridGutterWidth: 36px;
// $gridColumnWidth: 46px;

@import "bootstrap";
@import "colors";
@import "mixins";

$serif: Georgia, serif;
$sans_serif: "Helvetica Neue", Helvetica, Arial, sans-serif;

/* =general
---------------------------------------------------------------------------- */
body {
  font-family: $sans_serif;
  background-color: #ebd8c1;
}
p, li {
  font-size: 1rem;
  font-family: $sans_serif;
  line-height: 1.5;
  color: #555;
}
p {
  margin: 0 0 1rem;
}
h2 {
  margin-bottom: 1.5rem;
}
h4 {
  margin: 1rem 0 0.25rem;
  font-size: 1.4rem;
}

/* =wrapper
---------------------------------------------------------------------------- */
.wrapper {
  width: 980px;
  margin: auto;
  background: #fff;
  @include outer-glow();
}

/* =header
---------------------------------------------------------------------------- */
header {
  position: relative;
  padding: 0 20px;
  border-bottom: 1px solid $light_gray;

  .logo {
    margin: 0;

    a:link,
    a:visited,
    a:hover,
    a:active {
      display: block;
      height: 112px;
      width: 240px;
      text-indent: -9999px;
      background: image-url("habitat-logo.png") no-repeat 0 0;
    }
  }
}
.masthead {
  position: relative;
  padding: 8px 0;
}
.headline {
  font-family: "Helvetica Neue", Helvetica, Arial, Sans-Serif;
  font-size: 2.2rem;
  font-weight: 200;
  color: $medium_gray;
  position: absolute;
  bottom: 24px;
  right: 10px;
}
.social-links {
  list-style-type: none;
  position: absolute;
  top: 26px;
  right: 0;

  li {
    float: left;

    a {
      padding: 0 5px;
    }
    img {
      height: 36px;
    }
  }
}
.container nav {
  background: $habitat_blue;
  margin: 0 -20px;

  ul {
    margin: 0;
    clear: left;
    list-style-type: none;
  }
  li {
    float: left;

    a:link,
    a:visited,
    a:hover,
    a:active {
      display: block;
      padding: 16px 30px;
      border-left: 1px solid $habitat_blue;
      color: #fff;
      font-size: 1rem;
      font-weight: 200;
      line-height: 1;
      text-decoration: none;
    }

    &.active a,
    a:hover {
      background: $habitat_green;
      border-left-color: #6cd660;
    }
    &.active a {
      border-left-color: $habitat_green;
    }
  }
}

/* =main
---------------------------------------------------------------------------- */
.main {
  padding: 0 20px;

  ol li {
    margin: 1rem 0;
  }
}

/* =sidebar
---------------------------------------------------------------------------- */
.sidebar {
  list-style-type: none;
  li {
    margin: 5px 0;
  }

  a {
    display: block;
    font-size: 1rem;
    padding: 5px 8px;
    border-radius: 5px;

    &:hover {
      background: #ddd;
      color: #000;
      text-decoration: none;
    }
  }
  .active {
    a {
      background: $habitat_green;
      color: #fff;
    }
  }
}

/* =home
---------------------------------------------------------------------------- */
.main {
  padding-top: 20px;
}
.call-to-action {
  display: none;
}
.action-apply {
  display: block;
}
h2 {
  font-size: 1.8rem;
  font-weight: 200;
  line-height: 1.1;
}
h3 {
  font-size: 1.4;
  font-weight: 200;
  border-bottom: 1px dotted #888;
  line-height: 1.2;
  margin: 2rem 0 1rem;
}
.main .row {
  position: relative;
}
.critical-home-repairs {
  position: absolute;
  width: 298px;
  bottom: 0;
  right: 0;
  background: #fffc93 image-url("critical-home-repairs-gradient.png") repeat-x 0 0;
  border: 1px solid #ffc483;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  @include box-shadow(5px);

  &:link,
  &:visited,
  &:hover,
  &:active {
    color: #333;
    display: block;
    text-decoration: none;

    h3, p {
      margin: 0;
      font-family: Helvetica, sans-serif;
      padding: 16px 15px 0;
    }
    h3 {
      padding-left: 48px;
      background: image-url("critical-home-repairs-icon.png") no-repeat 15px 15px;
      font-size: 1.4rem;
      border: 0;
    }
    p {
      padding-bottom: 15px;
      font-size: 1rem;
    }
  }
}
.event {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px dotted #888;

  .calendar {
    float: left;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #aaa;
    @include box-shadow-small(3px);

    .month,
    .day {
      text-align: center;
    }
    .month {
      border-radius: 5px 5px 0 0;
      background: #9e0b0f;
      color: #fff;
      font-size: 0.8rem;
      padding: 2px 0 0;
    }
    .day {
      line-height: 26px;
      font-size: 1.2rem;
      color: #666;
    }
  }
  .event-title,
  .event-details {
    margin-left: 70px;
  }
  .event-title {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  .event-details {
    color: #555;
  }
}
.event-contact {
  text-align: center;
}

/* =news
---------------------------------------------------------------------------- */
body.news {
  h2 {
    margin-bottom: 0;
  }
}
.news-headlines ul {
  list-style-type: none;
  margin: -10px 0 0;
  padding: 0;

  li {
    clear: left;
    padding: 10px 0;
    border-bottom: 1px dotted #888;
  }
  .news-thumbnail {
    float: left;
  }
  .details {
    margin-left: 105px;

    h4 {
      font-size: 1rem;
      font-weight: 200;
      line-height: 1.4;
      margin: 0 0 5px;
    }
    a:link,
    a:visited,
    a:hover,
    a:active {
      color: #333;
    }
    a:hover {
      color: #000;
      text-decoration: underline;
    }
  }
}
.news .pull-left {
  margin-right: 15px;
}
.news .pull-right {
  margin-left: 15px;
}
.byline {
  margin-bottom: 1rem;
  color: #888;
  font-family: $serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
}
aside {
  padding-right: 15px;

  h2 {
    font-size: 0.9rem;
    font-weight: 200;
    text-transform: uppercase;
    color: #888;
    letter-spacing: 1px;
    border-bottom: 1px solid #ccc;
  }
  ul {
    margin: 0;
    list-style-type: none;
  }
  li {
    margin: 0.5rem 0;
    font-size: 0.75rem;
    line-height: 1.4;

    a {
      color: #555;
    }

    span.date {
      color: #888;
    }
  }
}
.image {
  margin: 1rem 0;
}
.span9 img {
  max-width: 690px;
}
.pull-quote {
  position: relative;
  border-radius: 10px;
  margin: 30px 0 20px;
  padding: 12px 30px 12px 60px;
  font-family: $serif;
  font-size: 1.4rem;
  font-style: italic;
  line-height: 1.4;
  color: #555;
  background: #f4ebe1;

  &:before {
    content: ".";
    display: block;
    position: absolute;
    top: -12px;
    left: -12px;
    height: 80px;
    width: 80px;
    background: pink;
    text-indent: 100%;
    overflow: hidden;
    background: image-url("pull-quote.png") no-repeat 0 0;
    background-size: 65px;
  }
}

/* =carousel
---------------------------------------------------------------------------- */
.rotating-images {
  position: relative;
  height: 400px;
  border: 2px solid $habitat_green;
  border-bottom-width: 5px;
}
.rotating-image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fff image-url("carousel-apply-00.jpg") no-repeat 50% 10%;
  background-size: cover;
}
.rotating-image-00 {
  background-image: image-url("carousel-apply-00.jpg");
}
.rotating-image-01,
.rotating-image-02 {
  display: none;
}
.carousel-actions {
  margin-bottom: 10px;

  .action {
    float: left;
    width: 206px;
    text-align: center;
    cursor: pointer;

    .inside {
      margin-right: 1px;
      padding: 20px 0;
      background: $habitat_blue;
      color: #fff;
    }
    .name {
      font-size: 1.6rem;
      margin-bottom: 5px;
      letter-spacing: 1px;
    }
    .caption {
      font-weight: 100;
      font-style: italic;
      letter-spacing: 1px;
    }
  }
  .action-volunteer {
    width: 208px;
  }
  .action-donate {
    .inside {
      margin-right: 0;
    }
  }
  .action.active {
    .inside {
      background: $habitat_green;
    }
  }
}

/* =spotlight
---------------------------------------------------------------------------- */
.homeowner-spotlight {
  .image {
    margin-bottom: 5px;
  }
  p {
    margin: 0.5rem 0;
    font-size: 1rem;
    line-height: 1.4;
    color: #666;
  }
  a:link,
  a:visited,
  a:hover,
  a:active {
    text-transform: uppercase;
    text-decoration: none;
    color: #333;
  }
  a:hover {
    text-decoration: underline;
  }
}

/* =about
---------------------------------------------------------------------------- */
.board {
  border-collapse: separate;
  border-spacing: 1px;
  background: #fff;
  border: 1px solid #ccc;

  th, td {
    padding: 5px 20px 5px 10px;
    vertical-align: top;
  }
  th {
    font-weight: normal;
    background: #afc4de;
    text-align: left;
    white-space: nowrap;
  }
  td {
    background: #efefef;
  }
  tr:hover {
    th, td {
      background: #ffc;
    }
  }
}
.myths {
  list-style-type: none;
  margin: 1rem 0 0;

  li {
    margin: 0 0 2rem;
  }
  .myth {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
}

/* =contact
---------------------------------------------------------------------------- */
.contact-photo {
  margin-right: 20px;
}
.contact-info {
  float: left;

  .contact {
    margin-bottom: 20px;
    font-size: 1.2rem;
    line-height: 1.3;
    color: #555;
  }
}

/* =images
---------------------------------------------------------------------------- */
.image.pull-right {
  margin-left: 20px;
}
.image.pull-left {
  margin-right: 20px;
}
.img-polaroid {
  border: 0;
  box-shadow: none;
}
.image {
  border:  1px solid #ccc;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

  .caption {
    color: #888;
    font-family: $serif;
    margin: 5px 5px;
    font-size: 0.95rem;
  }
}

/* =footer
---------------------------------------------------------------------------- */
footer {
  margin-top: 30px;
  padding: 10px 0 50px;
  border-top: 1px solid $light_gray;

  .address {
    float: left;
  }
  .contact {
    float: right;
  }
}

/* =apply
---------------------------------------------------------------------------- */
.homeowner-application {
  margin-bottom: 1rem;
}

/* =faq
---------------------------------------------------------------------------- */
.faq {
  .question {
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
    color: $habitat_blue;
  }
  p, ul {
    margin-bottom: 2rem;
  }
  li {
    margin: 0.5rem 0;
  }
}
