/*
*= require bootstrap
*/

@import "colors";

/* =general
---------------------------------------------------------------------------- */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* =header
---------------------------------------------------------------------------- */
header {
  position: relative;
  border-bottom: 1px solid $light_gray;

  .logo {
    margin: 0;

    a:link,
    a:visited,
    a:hover,
    a:active {
      display: block;
      height: 112px;
      width: 240px;
      text-indent: -9999px;
      background: image-url("habitat-logo.png") no-repeat 0 0;
    }
  }
}
.rotating-image {
  height: 400px;
  background: #fff image-url("carousel-apply.jpg") no-repeat 50% 10%;
  border: 2px solid $habitat_green;
  border-bottom-width: 5px;
}
.carousel-actions {
  margin-bottom: 10px;

  .action {
    float: left;
    width: 233px;
    text-align: center;
    cursor: pointer;

    .inside {
      margin-right: 1px;
      padding: 20px 0;
      background: $habitat_blue;
      color: #fff;
    }
    .name {
      font-size: 1.6rem;
      margin-bottom: 5px;
      letter-spacing: 1px;
    }
    .caption {
      font-weight: 100;
      font-style: italic;
      letter-spacing: 1px;
    }
  }
  .action-volunteer {
    width: 234px;
  }
  .action-donate {
    .inside {
      margin-right: 0;
    }
  }
  .action.active {
    .inside {
      background: $habitat_green;
    }
  }

}
.nav {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-bottom: 0;
}
.nav li {
  float: left;

  a:link,
  a:visited,
  a:hover,
  a:active {
    padding: 5px 12px;
    font-size: 1.2rem;
    line-height: 1;
    color: $habitat_blue;
  }
}

/* =home
---------------------------------------------------------------------------- */
.main h1 {
  margin: 40px 0 20px;
  font-family: Gill Sans, Arial, Sans-Serif;
  font-weight: 100;
  font-size: 3.2rem;
  color: $dark_gray;
}
.call-to-action {
  display: none;
}
.action-apply {
  display: block;
}

/* =spotlight
---------------------------------------------------------------------------- */
.homeowner-spotlight {
  .image {
    height: 240px;
    background: #ddd;
    margin-bottom: 10px;
  }
}

/* =footer
---------------------------------------------------------------------------- */
footer {
  margin-top: 30px;
  padding: 10px 0 50px;
  border-top: 1px solid $light_gray;

  .address {
    float: left;
  }
  .contact {
    float: right;
  }
}