---
title: Lisa and John Hagerty
date: 2014-10-04 00:00 UTC
category: volunteer
---

<h2>Volunteers: Lisa and John Hagerty</h2>

<div class="image pull-right">
  <%= image_tag "spotlight/volunteer-hagerty.jpg", class: 'img-polaroid' %>
  <div class="caption">Lisa and John Hagerty</div>
</div>

<p>
  John and Lisa have been volunteering with Habitat Powhatan for over five years. They take their Christian faith very seriously and spend a lot of time serving others. They have contributed to each of our last six houses as volunteers and have given financially with employer-matched donations for their efforts. Their children have also come with them to volunteer on our projects.
</p>

<div class="faq" style="clear: right">
  <div class="question">How did you become interested in volunteering for Habitat?</div>
  <p>
    We heard about Habitat Powhatan in our church newsletter so we signed up initially for a workday associated with Bon Air Friends.
  </p>

  <div class="question">What types of work did you do as a Habitat volunteer?</div>
  <p>
    We have prepped crawl spaces and foundations for inspection, framed interior and exterior walls, applied vinyl siding and trim, primed and painted walls and trim, and landscaped.
  </p>

  <div class="question">What did you enjoy most about your Habitat volunteer experience?</div>
  <p>
    Meeting the homeowners-to-be and all the volunteers and then seeing how productive hard-working
    volunteers can be even with little training.
  </p>

  <div class="question">Have you done other types of volunteer work? Why?</div>
  <p>
    We do small critical care projects for project: HOMES which are typically completed in one day. We enjoy
    doing construction/remodeling jobs together and we love to see “satisfied customers” at the end of the day. ("project:HOMES" is a 501c organization that improves the lives and living conditions of low income seniors, disabled residents, and qualified homeowners in Central Virginia by making critical home repairs and improvements and by building high quality, affordable home.)
  </p>

<div class="question">How does volunteering make you feel?</div>
  <p>
    Volunteering is just as rewarding to us as it is for the homeowners-to-be. Giving always makes people feel
    good.
  </p>

  <div class="question">What are your interests and hobbies?</div>
  <p>
    We both enjoy staying active - working out at the gym and running regularly, skiing during the winter, hiking and kayaking during the other seasons, and volunteering several Saturdays during the year.
  </p>

  <div class="question">Do you have any addtional information you'd like to add?
  </div>
  <p>
    We want to recognize Terry for doing such an awesome job of organizing the project schedules and bringing in the volunteers needed to keep the projects moving along so efficiently. He is a GREAT director!!
  </p>
</div>
