---
title: Ben Bailey
category: family
---

<h2>The Changes in My Life</h2>
<div class="byline">
  <span class="date">Family #12</span>
  &middot;
  <span class="date">Dedicated November, 2014</span>
</div>

<p>
  <i>My English 7 students were given the task of writing a personal narrative on an experience that has impacted or made an impression upon them in a significant way. Ben chose to write about how Habitat for Humanity stepped in and helped his family in their time of need.</i> -Beth Humphrey, Powhatan Junior High School
</p>

<div class="pull-quote">
 There was a lot waiting for us! Even though it was just a square of dirt at the time, I loved it! I could not wait to get started!
</div>

<div class="image pull-right">
  <%= image_tag "spotlight/bailey-ben.jpg", class: 'img-polaroid' %>
  <div class="caption">Ben and his beloved cat in their new home.</div>
</div>

<p>
  Ever since my parents got divorced 7 years ago, we have lost many things: vacations, owning a house, a decent amount of income. With both parents paying all the bills by themselves for two separate houses, food, and gas, they both had to get full-time jobs, so there was no time for the four kids they passed around.
</p>

<p>
  Finally, my mom had had enough. So she talked to her friend, Mrs. Vosberg, who told Mom about a program called “Habitat for Humanity”. They help people in need of a house that they can own for an affordable price. My mom decided to give it a try. She signed the candidate
  sheet, and a couple of months later we got a phone call from the man in charge of HFHP (Terry Paquette, Executive Director).
</p>

<p>
  We were told that Habitat for Humanity was going to build us a home! Later that same day, he (Terry Paquette) asked us to come to Holly Hills, so we did. There was a lot waiting for us! Even though it was just a square of dirt at the time, I loved it! I could not wait to get started!
</p>

<p>
  When the weekend finally came, I picked up a hammer, ready to go to work. The sound of myhammer hitting nails into my soon to be home, the smell of sawdust form the chainsaw cutting wood, the sight of all these people giving up their weekend for my family’s benefit, all made me so happy I just did a little jig.
</p>

<p>
  After many months of hard work and commitment, our home was finally done in November of 2014. My family is so grateful for this new beginning.
</p>

<div class="image">
  <%= image_tag "spotlight/bailey-family-2.jpg", class: 'img-polaroid' %>
  <div class="caption">Nicholas, Ben, Kathy, and Peter on their front steps on the day of their Home Dedication.</div>
</div>
