---
layout: about_layout
---

<h2>Board of Directors</h2>

<table class="board">

  <tr>
    <th>PRESIDENT</th>
    <td>Don Whitley</td>
  </tr>
    <tr>
    <th>VICE PRESIDENT</th>
    <td>Roy Harrison</td>
  </tr>
  <tr>
    <th>ACTING SECRETARY</th>
    <td>B. J. Freeman</td>
  </tr>
  <tr>
    <th>TREASURER</th>
    <td>Kathy Ware</td>
  </tr>
  <tr>
    <th>FAMILY SELECTION</th>
    <td>Sally Paquette</td>
  </tr>
  <tr>
    <th>FAMILY SUPPORT</th>
    <td>Karen Cheak</td>
  </tr>
  <tr>
    <th>PUBLIC RELATIONS</th>
    <td>Valerie Cox</td>
  </tr>
  <tr>
    <th>ARCHITECTURE</th>
    <td>Dan Jones</td>
  </tr>
  <tr>
    <th>SITE SLECTION</th>
    <td>Don Whitley</td>
  </tr>
  <tr>
    <th>CHURCH RELATIONS</th>
    <td>Russell Melroy</td>
  </tr>
    <tr>
    <th>FUND RAISING</th>
    <td>Don Whitley</td>
  </tr>
  <tr>
    <th>CONSTRUCTION</th>
    <td>Terry Paquette</td>
  </tr>
  <tr>
    <th>
      AT LARGE
    </th>
    <td>
      Mike Konvicka, Father Walter Lewis, Terry Sanders, Larry Temple, William Young
    </td>
  </tr>
  <tr>
    <th>EXECUTIVE DIRECTOR</th>
    <td>Terry Paquette</td>
  </tr>
  <tr>
    <th>FOUNDER</th>
    <td>Rev. Robert G Partlow</td>
  </tr>
    <tr>
    <th>
      ADVISORY BOARD
    </th>
    <td>
      Connie Harriss, Lummie Jones, Hermes Kontos, Carson Tucker
    </td>
  </tr>
</table>

<div class="image">
  <%= image_tag "about-bod.jpg", class: 'img-polaroid' %>
  <div class="caption">Back row: Tim Benusa, Roy Harrison, Don Whitley, Mike Konvicka, Dan Jones, Terry Paquette Front row: Sally Paquette, Terry Sanders, B. J. Freeman, Shy Southard, Larry Temple, Kathy Ware, Valerie Cox Not present: Karen Cheak, Chip Humphrey, Father Walter Lewis, Russ Melroy</div>
</div>
