---
layout: about_layout
---

<h2>Board of Directors</h2>

<table class="board">
  <tr>
    <th>PRESIDENT</th>
    <td>Don Whitley</td>
  </tr>
  <tr>
    <th>ACTING SECRETARY</th>
    <td>B. J. Freeman</td>
  </tr>
  <tr>
    <th>TREASURER</th>
    <td>Kathy Ware</td>
  </tr>
  <tr>
    <th>FAMILY SELECTION</th>
    <td>Sally Paquette</td>
  </tr>
  <tr>
    <th>FAMILY SUPPORT</th>
    <td>Karen Cheak</td>
  </tr>
  <tr>
    <th>PUBLIC RELATIONS</th>
    <td>Ken Cox</td>
  </tr>
  <tr>
    <th>ARCHITECTURE</th>
    <td>Dan Jones</td>
  </tr>
  <tr>
    <th>CHURCH RELATIONS</th>
    <td>Russell Melroy</td>
  </tr>
  <tr>
    <th>
      AT LARGE
    </th>
    <td>
      Roy Harrison, Mike Konvicka, Father Walter Lewis, Terry Saunders, Larry Temple, William Young
    </td>
  </tr>
  <tr>
    <th>EXECUTIVE DIRECTOR</th>
    <td>Terry Paquette</td>
  </tr>
  <tr>
    <th>FOUNDER</th>
    <td>Rev. Robert G Partlow</td>
  </tr>
</table>
