<div class="event">
  <div class="calendar">
    <div class="header"></div>
    <div class="month"><%= month %></div>
  </div>

  <div class="event-title"><%= title %></div>
  <div class="event-details"><%= details %></div>
</div>
