<footer class="container">
  <div class="address">
    <div class="name">Habitat for Humanity - Powhatan</div>
    <div class="street">PO Box 416</div>
    <div class="city-state-zip">Powhatan, VA 23139-0416</div>
  </div>

  <div class="contact">
    <div class="phone">Tel: (804) 794-1700</div>
    <div class="fax">Fax: (804) 598-684</div>
    <div class="email">
      <%= link_to 'hfh.powhatan@gmail.com',
        'mailto:hfh.powhatan@gmail.com' %>
    </div>
  </div>
</footer>
