<header class="container">
  <h1 class="logo pull-left">
    <a href="/">Habitat for Humanity Powhatan</a>
  </h1>
  <nav>
    <ul class="nav pull-right">
      <li class="active">
        <%= link_to 'Home', '/' %>
      </li>
      <li>
        <%= link_to 'News', '/news.html' %>
      </li>
    </ul>
  </nav>
</header>
