---
layout: about_layout
---

<h2>About Habitat</h2>

<h3>Habitat International</h3>

<p>
  Habitat for Humanity International is a worldwide, nonprofit, and ecumenical Christian housing ministry that believes that every man, woman, and child should have a safe, decent, and affordable place to live. Habitat partners with lower income families to build homes they can purchase. Homes are built and repaired using volunteer labor and donations. The homes are sold at the cost of construction and mortgaged with zero-interest loans. The three primary criteria for selection are housing need, ability to pay, and the potential for being a good Habitat partner.
</p>

<h3>Habitat International Vision</h3>

<p>
  A world where everyone has a decent place to live.
</p>

<h3>Habitat International Mission Statement</h3>

<p>
  Seeking to put God’s love into action, Habitat for Humanity brings people together to build homes, communities and hope.
</p>

<h3>Habitat International Non-proselytizing Statement</h3>

<p>
  Habitat for Humanity International and its affiliated organizations will not proselytize. Nor will HFH work with entities or individuals who insist on proselytizing as part of their work with HFH. This means that HFH will not offer assistance on the expressed or implied condition that people must adhere to or convert to a particular faith or listen and respond to messaging designed to induce conversion to a particular faith.
</p>

<h3>Habitat Powhatan</h3>

<p>
  Habitat for Humanity - Powhatan (HFHP) is a locally run, independent affiliate of HFHI and is responsible for the Powhatan County area. HFHP has been actively engaged in constructing new homes (11 to date) and performing critical home repairs in the county since 2001.
</p>

<h3>Habitat Powhatan Mission Statement</h3>

<p>
  Habitat for Humanity works in partnership with God and people from all walks of life to build affordable housing for lower income residents of Powhatan County. Additionally, we partner with people in need that own their own homes but cannot afford to do critical repairs to preserve affordable housing in Powhatan County.
</p>
