---
layout: about_layout
---

<h2>About Habitat</h2>

<h3>Habitat International</h3>

<p>
  Habitat for Humanity International is a worldwide, nonprofit, and ecumenical Christian housing ministry that believes that every man, woman, and child should have a safe, decent, and affordable place to live.  HFHI builds and repairs houses using volunteer labor and donations.
</p>

<h3>Habitat International Mission Statement</h3>

<p>
  Seeking to put God’s love into action, Habitat for Humanity brings people together to build homes, communities and hope.
</p>

<h3>Habitat Powhatan</h3>

<p>
  Habitat for Humanity - Powhatan (HFHP) is a locally run, independent affiliate of HFHI and is responsible for the Powhatan County area. HFHP has been actively engaged in constructing new homes and performing critical home repairs in the county since 2001.
</p>
