---
layout: apply-layout
---

<h2>Apply</h2>

<p>
  Habitat for Humanity Powhatan (HFHP) is a Christian housing ministry that partners with lower income families to build homes that they can purchase. The homes are sold at the cost of construction and mortgaged with zero-interest loans. Habitat is funded by private donations and utilizes volunteer labor. The three primary criteria for selection are housing need, ability to pay, and the potential for being a good Habitat partner.
</p>

<p>
  To qualify for a Habitat home, you must fill out the Homeowner Application and mail it back to us along with copies of recent financial records.
</p>

<p>
  We know this application can be a little intimidating, so don't hesitate to <%= link_to 'contact us', '/contact.html' %> if you need help or have any questions.
</p>

<%= link_to 'Download Homeowner Application', image_path('homeowner-application.pdf'), class: 'btn btn-primary btn-large' %>

<div class="image">
  <%= image_tag 'apply.jpg', class: 'img-polaroid' %>
  <div class="caption">
    Our 9th Habitat home which was completed in June, 2013.
  </div>
</div>

