<div class="container">
  <div class="row">
    <div class="span3">
      <aside>
        <ul class="sidebar">
          <li class="active">
            <%= link_to 'Apply', '/apply.html' %>
          </li>
          <li>
            <%= link_to 'Critical Repair', '#' %>
          </li>
        </ul>
      </aside>
    </div>

    <div class="span9">
      <h2>Apply</h2>

      <p>
        Habitat for Humanity Powhatan (HFHP) is a Christian housing ministry that partners with lower income families to build homes that they can purchase. The homes are sold at the cost of construction and mortgaged with zero-interest loans. Habitat is funded by private donations and utilizes volunteer labor. The three primary criteria for selection are housing need, ability to pay, and the potential for being a good Habitat partner.
      </p>

      <div class="image">
        <%= image_tag 'apply.jpg', class: 'img-polaroid' %>
        <div class="caption">
          Our 9th Habitat home which was completed in June, 2013.
        </div>
      </div>
    </div>
  </div>
</div>
