<h2>Contact</h2>

<%= image_tag 'contact-terry.jpg', class: 'img-polaroid pull-left contact-photo' %>

<p>
  Have a question about Habitat? Our Executive Director, Terry Paquette, would be happy to answer any of your questions by phone or email. You may call him Monday through Saturday from 8am to 6pm or email any time.
</p>

<div class="contact-info">
  <div class="contact">
    <div class="name">Executive Director</div>
    <div class="name">Terry Paquette</div>
    <div class="phone">(804) 794-1700</div>
    <div class="email">
      <%= link_to 'hfh.powhatan@gmail.com',
        'mailto:hfh.powhatan@gmail.com' %>
    </div>
  </div>

  <div class="contact address">
    <div class="name">Habitat for Humanity - Powhatan</div>
    <div class="street">PO Box 416</div>
    <div class="street">3829 Old Buckingham Rd.</div>
    <div class="city-state-zip">Powhatan, VA 23139-0416</div>
  </div>
</div>
