---
title: Habitat for Humanity - Powhatan
---

<div class="row">

  <div class="span8">
    <div class="rotating-images">
      <div class="rotating-image rotating-image-00">
      </div>
      <div class="rotating-image rotating-image-01">
      </div>
      <div class="rotating-image rotating-image-02">
      </div>
    </div>

    <div class="carousel-actions">
      <div id="action-apply" class="action action-apply active">
        <div class="inside">
          <div class="name">Apply</div>
          <div class="caption">to own a home</div>
        </div>
      </div>
      <div id="action-volunteer" class="action action-volunteer">
        <div class="inside">
          <div class="name">Volunteer</div>
          <div class="caption">to build a home</div>
        </div>
      </div>
      <div id="action-donate" class="action action-donate">
        <div class="inside">
          <div class="name">Donate</div>
          <div class="caption">a gift to Habitat</div>
        </div>
      </div>
    </div>
  </div>

  <div class="span4">
    <%= partial :event, locals: {
          month: 'SEP',
          day: '26',
          title: 'Annual Golf Tournament',
          details: "Our annual golf tournament will be held on Friday, Sept. 26 at noon at Mill Quarter Plantation Golf Course. Please give Terry Paquette a call if you'd like to participate. Also, the Bailey house is progressing very nicely. Let us know if you'd like to volunteer to work on our 11th Habitat home!
"
        }
      %>

    <div class="event-contact">
      Contact <strong>Terry Paquette</strong> to get involved!

      <div class="contact-methods">
        (804) 794-1700 &middot; <%= link_to 'hfh.powhatan@gmail.com',
        'mailto:hfh.powhatan@gmail.com' %>
      </div>
    </div>

    <% link_to '/apply/critical_repair.html', class: 'critical-home-repairs' do %>
      <h3>Critical Repair</h3>

      <p>
        We perform critical home repairs for homeowners in need. Do you qualify?
      </p>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="news-headlines span6">
    <h3>News</h3>

    <ul>
      <% blog('news').articles[0..4].each do |article| %>
        <%= partial :news_item, locals: {
            article: article,
            title: article.title,
            author: article.data.author,
            date: article.date
          }
         %>
      <% end %>
    </ul>
  </div>

  <div class="front-spotlight span6">
    <h3>Volunteer Spotlight</h3>

    <% link_to('/spotlight.html') do %>
      <div class="image">
        <%= image_tag 'spotlight/volunteer-hagerty-home.jpg', class: 'img-polaroid' %>
      </div>
      <p>
        READ ABOUT VOLUNTEERS LISA AND JOHN HAGERTY
      </p>
    <% end %>
  </div>
</div>

<script>
var photoPosition = 1;
var rotationInterval = 4500;
var photosPerAction = 3;

$(document).ready(function () {
  initializeCarousel();
});

function log(msg) {
  console.log(msg);
}

function initializeCarousel() {
  var carouselActions = $('.carousel-actions .action');
  preloadImages();
  loadActionPhotos('apply');
  setTimeout(rotatePhoto, rotationInterval);

  carouselActions.click(function() {
    carouselActions.removeClass('active');
    $(this).addClass('active');
    var selectedAction = $(this).attr('id').split('-')[1];
    loadActionPhotos(selectedAction);
  });
}

function loadActionPhotos(action) {
  for (i = 0; i < 3; i++) {
    $('.rotating-image-0' + i).css(
      'background-image', 'url("images/carousel-' +
        action + '-0' + i + '.jpg")'
    );
  }
}

function rotatePhoto() {
  var newPhoto = $('.rotating-image-0' + photoPosition);
  var oldPhoto = $('.rotating-image-0' + previousPosition(photoPosition));

  newPhoto.css('z-index', 1);
  oldPhoto.css('z-index', 2);
  newPhoto.show();
  oldPhoto.fadeOut(1500);

  photoPosition = nextPosition(photoPosition);
  setTimeout(rotatePhoto, rotationInterval);
}

function preloadImages() {
  var preloadedImages = new Array();
  for (i = 0; i < 3; i++) {
    preloadedImages[i] = new Image();
    preloadedImages[i].src = 'images/carousel-apply-0' + i + '.jpg';

    preloadedImages[i + 3] = new Image();
    preloadedImages[i + 3].src = 'images/carousel-donate-0' + i + '.jpg';

    preloadedImages[i + 6] = new Image();
    preloadedImages[i + 6].src = 'images/carousel-volunteer-0' + i + '.jpg';
  }
}

function nextPosition(position) {
  return (position >= (photosPerAction - 1)) ? 0 : position + 1;
}

function previousPosition(position) {
  return (position == 0) ? photosPerAction - 1 : position - 1;
}
</script>
