<h2>Volunteer</h2>

<p>
  Habitat builds houses from the ground up. Each week there will be a different experience based on what work needs to accomplished that day. Volunteers of all skill levels are welcome and can expect a rewarding experience. The efforts of many volunteers reduce the building costs and enable Habitat Powhatan to offer homes well below market cost.
</p>

<p>
  There are many ways to volunteer:

  <ul>
    <li>
      Volunteer as a member of a church or civic organization.
    </li>
    <li>
      Volunteer as an individual.
    </li>
    <li>
      Professional contractors may volunteer their time or offer reduced rates.
    </li>
    <li>
      Bring snacks, drinks, etc. to the construction site.
    </li>
    <li>
      Community service for high school, college, and some court ordered offenses.
    </li>
  </ul>
</p>

<p>
  Construction work on a Habitat house generally takes place on Saturdays from 8:30 to 4. You must be 16 years of age or older and sign a release form to participate. However, if you are retired and can work during the week, we can often accommodate that schedule as well. If you want to become a volunteer, contact Habitat Powhatan at <%= link_to 'hfh.powhatan@gmail.com', 'mailto:hfh.powhatan@gmail.com' %> or 794-1700.
</p>

<div class="image">
  <%= image_tag "volunteer-walls.jpg", class: 'img-polaroid' %>
  <div class="caption">The Habitat Board and Epiphany Church built and raised the walls of the Shears home.</div>
</div>
